@import "tailwindcss";

.bangers {
	font-family: "Bangers", system-ui;
	font-weight: 400;
	font-style: normal;
}

.text-stroke-3 {
	-webkit-text-stroke: 1px black;
}

.stroke-single,
.stroke-double {
	position: relative;
	background: transparent;
	z-index: 0;
	color: white;
	font-size: 60px;
	margin: 20px 100px;
}

.stroke-single:before,
.stroke-double:before {
	content: attr(title);
	position: absolute;
	-webkit-text-stroke: 0.14em black;
	font-size: 60px;
	left: 0;
	z-index: -1;
}

.stroke-double:after {
	content: attr(title);
	position: absolute;
	-webkit-text-stroke: 0.2em white;
	left: 0;
	z-index: -2;
}

.shadow {
	-webkit-box-shadow: inset -6px -8px 24px 3px rgb(47, 47, 53);
	-moz-box-shadow: inset -6px -8px 24px 3px rgb(47, 47, 53);
	box-shadow: inset -6px -8px 24px 3px rgb(6, 6, 8);
}

.shadow-red {
	-webkit-box-shadow: inset -6px -8px 24px 3px rgb(97, 42, 42);
	-moz-box-shadow: inset -6px -8px 24px 3px rgb(97, 42, 42);
	box-shadow: inset -6px -8px 24px 3px rgb(97, 42, 42);
}

.shadow-dark {
	-webkit-box-shadow: inset -3px -12px 24px 3px rgb(0, 0, 0);
	-moz-box-shadow: inset -3px -12px 24px 3px rgb(0, 0, 0);
	box-shadow: inset -3px -12px 24px 3px rgb(0, 0, 0);
}

.glass {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.loader {
	width: 100px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #ffdede 88%, #0000) top/12px 12px no-repeat, conic-gradient(#0000 30%, #880202);
	mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
	animation: l13 1s infinite linear;
}

@keyframes l13 {
	100% {
		transform: rotate(1turn);
	}
}

.bangers-regular {
	font-family: "Bangers", system-ui;
	font-weight: 400;
	font-style: normal;
}

.caveat-regular {
	font-family: "Caveat", cursive;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #991b1b;
	cursor: grab;
}

input[type="range"]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #991b1b;
	cursor: grab;
	border: none;
}
