@import "tailwindcss";

body {
	overflow: hidden;
}

.bangers {
	font-family: "Bangers", system-ui;
	font-weight: 400;
	font-style: normal;
}

.text-stroke-3 {
	-webkit-text-stroke: 1px black;
}

.paper-bg {
	background-image: url("./assets/ui/paper.png");
	background-size: cover;
	background-position: center;
}

.stroke-single,
.stroke-double {
	position: relative;
	background: transparent;
	z-index: 0;
	color: white;
	font-size: 60px;
	margin: 20px 100px;
}

.stroke-single:before,
.stroke-double:before {
	content: attr(title);
	position: absolute;
	-webkit-text-stroke: 0.14em black;
	font-size: 60px;
	left: 0;
	z-index: -1;
}

.stroke-double:after {
	content: attr(title);
	position: absolute;
	-webkit-text-stroke: 0.2em white;
	left: 0;
	z-index: -2;
}

.shadow {
	-webkit-box-shadow: inset -6px -8px 24px 3px rgb(47, 47, 53);
	-moz-box-shadow: inset -6px -8px 24px 3px rgb(47, 47, 53);
	box-shadow: inset -6px -8px 24px 3px rgb(6, 6, 8);
}

.shadow-red {
	-webkit-box-shadow: inset -6px -8px 24px 3px rgb(97, 42, 42);
	-moz-box-shadow: inset -6px -8px 24px 3px rgb(97, 42, 42);
	box-shadow: inset -6px -8px 24px 3px rgb(97, 42, 42);
}

.shadow-dark {
	-webkit-box-shadow: inset -3px -12px 24px 3px rgb(0, 0, 0);
	-moz-box-shadow: inset -3px -12px 24px 3px rgb(0, 0, 0);
	box-shadow: inset -3px -12px 24px 3px rgb(0, 0, 0);
}

.glass {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.loader {
	width: 100px;
	aspect-ratio: 1;
	border-radius: 50%;
	background:
		radial-gradient(farthest-side, #ffdede 88%, #0000) top/12px 12px no-repeat,
		conic-gradient(#0000 30%, #880202);
	mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 12px), #000 0);
	animation: l13 1s infinite linear;
}

@keyframes l13 {
	100% {
		transform: rotate(1turn);
	}
}

.bangers-regular {
	font-family: "Bangers", system-ui;
	font-weight: 400;
	font-style: normal;
}

.caveat-regular {
	font-family: "Caveat", cursive;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #991b1b;
	cursor: grab;
}

input[type="range"]::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #991b1b;
	cursor: grab;
	border: none;
}

.wood {
	border-image-slice: 27 27 27 27;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("https://img.glyphs.co/img?src=aHR0cHM6Ly9zMy5tZWRpYWxvb3QuY29tL3Jlc291cmNlcy9TZWFtbGVzc19Xb29kX1RleHR1cmVzX1ZvbF8yXzgwMHg1MTgtMS5qcGc&q=70&enlarge=true&h=777&w=1200");
	border-style: solid;
}

@keyframes spinWithPause {
	0% {
		transform: rotate(0deg);
		animation-timing-function: ease-in;
	}
	33% {
		transform: rotate(360deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform: rotate(360deg);
		animation-timing-function: ease-out;
	}
}

.rotating {
	animation: spinWithPause 1.5s linear infinite;
}

.corner-border {
	position: relative;
}

.corner-border::before {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;

	background:
		linear-gradient(#fff, #fff) left top,
		linear-gradient(#fff, #fff) right top,
		linear-gradient(#fff, #fff) left bottom,
		linear-gradient(#fff, #fff) right bottom;

	background-size:
		20px 2px,
		2px 20px,
		20px 2px,
		2px 20px;

	background-repeat: no-repeat;
}

@keyframes wave {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

.wave * {
	display: inline-block;
	animation: wave 1.2s ease-in-out infinite;
	animation-delay: calc(var(--i) * 0.1s);
}

.dot {
	width: 6px;
	height: 6px;
	background-color: white;
	border-radius: 9999px;
	animation: bounce 1.4s infinite both;
}

.animation-delay-200 {
	animation-delay: 0.2s;
}

.animation-delay-400 {
	animation-delay: 0.4s;
}

@keyframes bounce {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}

@keyframes purpleGlow {
	0% {
		box-shadow: 0 0 30px 1px rgba(128, 0, 128, 0.7);
	}
	50% {
		box-shadow: 0 0 600px 1px rgba(128, 0, 128, 0.4);
	}
	100% {
		box-shadow: 0 0 30px 1px rgba(128, 0, 128, 0.7);
	}
}

.glow-animate {
	animation: purpleGlow 20s ease-in-out infinite;
}
